{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col">
    <h1>{% translate "Sobre o MACC!" %}</h1>
  </div>
</div>

{% url 'corpus:index' as corpus_index_url %}
{% url 'corpus:search' as corpus_search_url %}

<div class="row">
  <div class="col">
    <p>
      {% blocktranslate %}
        Joaquim Maria Machado de Assis é dos autores brasileiros mais traduzidos para outros idiomas e já existem inúmeras pesquisas dedicadas a estudar as traduções do autor. Com a ajuda de um catálogo com as traduções centralizadas e um amplo corpus eletrônico, pesquisadores podem otimizar sua pesquisa ampliar seu escopo de análise. <p>
        O MACC (Machado de Assis – Corpus & Catálogo) é fruto de um projeto de mestrado do Programa de Pós-Graduação em Letras Estrangeiras e Tradução do Departamento de Letras Modernas da Faculdade de Filosofia, Letras e Ciências Humanas, da Universidade de São Paulo, sob a supervisão da Orientadora: Profa. Dra. Luciana Carvalho Fonseca. É um website dedicado a criar uma ferramenta para auxiliar a comunidade de pesquisadores e profissionais das áreas de tradução, literatura e linguística: <p>
        O <a href="{{ corpus_index_url }}">Catálogo</a> das traduções da obra machadiana para língua inglesa traz uma linha do tempo das publicações, começando em 1921. Você pode ver uma linha do tempo, uma breve apresentação da obra, buscar por títulos em inglês ou português, país da editora ou ano de publicação. <p>
        O <a href="{{ corpus_search_url }}">Corpus</a> paralelo traz uma ferramenta de busca de termos em que você poderá ver pequenos trechos contextualizando como cada palavra foi traduzida nas diferentes edições em língua inglesa. Você poderá buscar por termos em português ou inglês. <p>      
      {% endblocktranslate %}

      {% blocktranslate %}
        Ursula Puello Sydio <p>
        São Paulo, 2022 <p>
        Link para a dissertação: [link em construção] <p>
        Link para currículo Lattes: <a href=" http://lattes.cnpq.br/2649727199881704">Lattes</a> <p>
        Contato para outras dúvidas e pedidos: <a href="sitemacc@gmail.com">Enviar e-mail</a> <p>
      {% endblocktranslate %}

    </p>
  </div>
</div>
{% endblock content %}
