{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col">
    <h1>{% translate "Bem-vindo ao MACC!" %}</h1>
  </div>
</div>

{% url 'corpus:index' as corpus_index_url %}
{% url 'corpus:search' as corpus_search_url %}

<div class="row">
  <div class="col">
    <p>
      {% blocktranslate %}
        O Machado de Assis – Corpus & Catálogo (MACC) é fruto de um projeto de mestrado dedicado a criar uma ferramenta para auxiliar a comunidade de pesquisadores e profissionais das áreas de tradução, literatura e linguística. <p>
        A seção <a href="{{ corpus_index_url }}">Catálogo</a> reúne as traduções publicadas em língua inglesa do autor Machado de Assis em um catálogo atualizado e com informações relevantes como ano de publicação e tradutores da obra. <p>
        Enquanto na seção <a href="{{ corpus_search_url }}">Corpus</a>, tradutores e pesquisadores poderão comparar como diferentes versões traduziram termos e trechos específicos da obra machadiana. <p>
      {% endblocktranslate %}

      <img src="{% static 'img/machado_de_assis_real.jpg' %}" alt="Machado de Assis">

    </p>
  </div>
</div>
{% endblock content %}
