{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col">
    <h1>{% translate "Bem-vindo ao MACC!" %}</h1>
  </div>
</div>

{% url 'corpus:index' as corpus_index_url %}
{% url 'corpus:search' as corpus_search_url %}

<div class="row">
  <div class="col">
    <p>
    <img src="{% static 'img/machado_de_assis_real.jpg' %}" class="rounded float-right" width= 30% height= 30% alt="Machado de Assis">

      {% blocktranslate %}
        <h6>O que é MACC? </h6>
        <p> O Machado de Assis – Corpus & Catálogo (MACC) é fruto de um projeto de mestrado dedicado a criar uma ferramenta para auxiliar a comunidade de pesquisadores e profissionais das áreas de tradução, literatura e linguística. </p>
        
        <h6>O que tem no <a href="{{ corpus_index_url }}">Catálogo</a>? </h6>
        <p> O Catálogo reúne as traduções publicadas em língua inglesa do autor Machado de Assis em um catálogo atualizado e com informações relevantes como ano de publicação e tradutores da obra. </p>
        <p> Você pode escolher entre: </p> 
        <p>- navegar pela Linha do tempo, com uma lista cronológica das obras publicadas em inglês</p>
        <p>- fazer Busca por obras em língua portuguesa (título e gênero)</p>
        <p>- fazer Busca por obras em língua inglesa (título, ano, local de publicação e gênero)</p>

        <h6>Como usar o <a href="{{ corpus_search_url }}">Corpus</a>?</h6>
        <p> - Primeiro, faça seu cadastro!</p>
        <p> - Agora que você já tem um cadastro, na seção Corpus, tradutores e pesquisadores poderão comparar como diferentes versões traduziram termos e trechos específicos da obra machadiana. </p>
        <p> - Basta digitar um termo (em inglês ou português) e descobrir como cada obra apresenta essa tradução </p>       
      {% endblocktranslate %}


    </p>
  </div>
</div>
{% endblock content %}
