[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pandas = "*"
django-debug-toolbar = "*"
dj_database_url = "*"
django_heroku = "*"
ipython = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
