{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/site.webmanifest' %}">

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font.css' %}">
  <link rel="stylesheet" href="{% static 'css/macc.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesomefree/css/solid.css' %}" type="text/css">

  {% block css %}{% endblock css %}

  <title>MACC | {% block title %}{% translate "Machado de Assis Corpus e Catálogo" %}{% endblock title %}</title>
</head>
<body>
  {% include 'includes/navbar.html' %}
  <div class="container mt-3">
    {% include 'includes/messages.html' %}
    {% block content %}{% endblock content %}
  </div>


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/mdb.min.js' %}"></script>
  <script src="{% static 'js/macc.js' %}"></script>
  {% block js %}{% endblock js %}
</body>
</html>
