{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MACC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="catalog-dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% translate "Catálogo" %}
        </a>
        <div class="dropdown-menu" aria-labelledby="catalog-dropdown">
          <a class="dropdown-item" href="{% url 'catalogue:search-portuguese' %}">{% translate "Romances" %}</a>
          <a class="dropdown-item" href="{% url 'catalogue:search-english' %}">{% translate "Contos" %}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'catalogue:timeline' %}">{% translate "Ver todas as obras" %}</a>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if not user.is_authenticated %}disabled{% endif %}"
          href="{% url 'corpus:search' %}">
            {% translate "Busca no corpus" %}
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account:register' %}">{% translate "Cadastre-se" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account:login' %}">{% translate "Entrar" %}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'account:logout'%}" class="nav-link">{% translate "Sair" %}</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/pt-br/{{ request.get_full_path|slice:"7:" }}">
          <i class="flag flag-br"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/en-us/{{ request.get_full_path|slice:"7:" }}">
          <i class="flag flag-us"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
