{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MACC</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="form-inline ml-auto">
      <div class="btn-group" role="group" aria-label="{% translate "Idioma" %}">
          <a class="btn bg-transparent" href="/pt-br/"><i class="flag flag-br"></i></a>
          <a class="btn bg-transparent" href="/en-us/"><i class="flag flag-us"></i></a>
      </div>
    </div>
  </div>
</nav>
