{% extends 'base.html' %}
{% load i18n %}

{% block title %}The Alienist and Other Stories of Nineteenth-Century Brazil{% endblock title %}

{% block content %}

    <h1>{% translate "2013 – The Alienist and Other Stories of Nineteenth-Century Brazil" %}</h1>
    <h2>{% translate "Antologia de contos;"%}</h2>
    <h2>{% translate "Tradutor(a): John Charles Chasteen;"%}</h2>
    <h2>{% translate "Editora: Hackett Classics. Indianapolis, EUA."%}</h2>

{% blocktrans %}
Apenas um ano após The Alienist (2012), esse mesmo conto aparece em uma retradução, agora junto com, outros sete contos na antologia The Alienist and Other Stories of Nineteenth-Century Brazil (2013), publicada por Hackett Classics. A tradução é de John Charles Chasteen, um historiador da Universidade da Carolina do Norte especializado em América Latina.
{% endblocktrans %}

{% endblock content %}