{% extends 'base.html' %}
{% load i18n %}

{% block title %}Midnight Mass & Other Stories{% endblock title %}

{% block content %}

    <h1>{% translate "2014 – Midnight Mass & Other Stories" %}</h1>
    <h2>{% translate "Antologia de contos e uma peça de teatro;"%}</h2>
    <h2>{% translate "Tradutor(a): Juan LePuen;"%}</h2>
    <h2>{% translate "Editora: Fario. País não informado."%}</h2>

{% blocktrans %}
Disponível exclusivamente em e-book, essa antologia traz 20 contos e uma peça de teatro traduzidos por Juan LePuen e publicados pela Fario, editora especializada em publicações de e-books traduzidos para língua inglesa.
{% endblocktrans %}

{% endblock content %}