{% extends 'base.html' %}
{% load i18n %}

{% block title %}Ex Cathedra: Stories by Machado de Assis — Bilingual Edition{% endblock title %}

{% block content %}

    <h1>{% translate "2014 – Ex Cathedra: Stories by Machado de Assis — Bilingual Edition" %}</h1>
    <h2>{% translate "Antologia de contos;"%}</h2>
    <h2>{% translate "Tradutor(a): Laura Cade Brown, Krista Brune, David George, Linda Ledford-Miller, Ana Lessa-Schmidt, Nelson López Rojas, John Maddox, Adam Morris, Rex P. Nielson, Leila Osman, Marissel Hernández Romero, Steven K. Smith, Lisandra Sousa, Luciana Tanure e Nelson Vieira"%}</h2>
    <h2>{% translate "Editora: New London Librarium. Hanover, EUA."%}</h2>

{% blocktrans %}
A antologia Ex Cathedra: Stories by Machado de Assis (2014) é uma edição bilíngue (português e inglês) de vinte e um contos selecionados, publicada pela editora New London Librarium e conta com a colaboração de dezesseis tradutores
{% endblocktrans %}

{% endblock content %}
