{% extends 'base.html' %}
{% load i18n %}

{% block title %}Miss Dollar: Stories by Machado de Assis — Bilingual Edition{% endblock title %}

{% block content %}

    <h1>{% translate "2016 – Miss Dollar: Stories by Machado de Assis — Bilingual Edition" %}</h1>
    <h2>{% translate "Antologia de contos;"%}</h2>
    <h2>{% translate "Tradutor(a): Greicy Pinto Bellin e Ana Lessa-Schmidt;"%}</h2>
    <h2>{% translate "Editora: New London Librarium. Hanover, EUA."%}</h2>

{% blocktrans %}
Em 2016, a New London Librarium lançou outra antologia de contos bilíngue (português e inglês) traduzidos por Greicy Pinto Bellin e Ana Lessa-Schmidt. Miss Dollar: Stories by Machado de Assis (2016), traz o seguinte trecho na Apresentação: “A inserção de Machado de Assis no contexto da literatura mundial se dá por meio da tradução” (p. 24).
{% endblocktrans %}

{% endblock content %}
