{% extends 'base.html' %}
{% load i18n %}

{% block title %}The Collected Stories of Machado de Assis{% endblock title %}

{% block content %}

    <h1>{% translate "2018 – The Collected Stories of Machado de Assis" %}</h1>
    <h2>{% translate "Antologia de contos;"%}</h2>
    <h2>{% translate "Tradutor(a): Margaret Jull Costa e Robin Patterson;"%}</h2>
    <h2>{% translate "Editora: Liveright & Company. Nova York, EUA e Londres, Inglaterra."%}</h2>

{% blocktrans %}
A maior antologia de contos de Machado de Assis em língua inglesa, The Collected Stories of Machado de Assis (2018) conta com setenta e seis contos traduzidos por Margaret Jull Costa e Robin Patterson. A antologia foi publicada pela Liveright & Company, com prefácio de Michael Wood.
{% endblocktrans %}

{% endblock content %}
