{% extends 'base.html' %}
{% load i18n %}

{% block title %}Good Days!: The Bons Dias! Chronicles of Machado de Assis{% endblock title %}

{% block content %}

    <h1>{% translate "2018 – Good Days!: The Bons Dias! Chronicles of Machado de Assis (1888-1889) — Bilingual Edition" %}</h1>
    <h2>{% translate "Antologia de crônicas;"%}</h2>
    <h2>{% translate "Tradutor(a): Ana Lessa-Schmidt;"%}</h2>
    <h2>{% translate "Editora: New London Librarium. Hanover, EUA."%}</h2>

{% blocktrans %}
A primeira coletânea exclusivamente de crônicas do Machado de Assis a ser lançada em língua inglesa foi traduzida por Ana Lessa-Schmidt. Essa antologia recebeu o apoio do Ministério da Cultura do Brasil/Fundação Biblioteca Nacional para sua tradução e publicação.
{% endblocktrans %}

{% endblock content %}
