{% extends 'base.html' %}
{% load i18n %}

{% block title %}Machado de Assis: 26 Stories{% endblock title %}

{% block content %}

    <h1>{% translate "2019 – Machado de Assis: 26 Stories" %}</h1>
    <h2>{% translate "Antologia de contos;"%}</h2>
    <h2>{% translate "Tradutor(a): Margaret Jull Costa e Robin Patterson;"%}</h2>
    <h2>{% translate "Editora: Liveright & Company. Nova York, EUA e Londres, Inglaterra."%}</h2>

{% blocktrans %}
Como sugere o título da antologia, temos vinte e seis contos traduzidos por Margaret Jull Costa e Robin Patterson. As traduções dos contos de Machado de Assis: 26 Stories (2019) são as mesmas presentes na antologia The Collected Stories of Machado de Assis (2018) da mesma editora.
{% endblocktrans %}

{% endblock content %}