{% extends 'base.html' %}
{% load i18n %}

{% block title %}1997 – Dom Casmurro: A Novel{% endblock title %}

{% block content %}

    <h1>{% translate "Dom Casmurro: A Novel" %}</h1>
    <h2>{% translate "Retradução de Dom Casmurro;"%}</h2>
    <h2>{% translate "Tradutor(a): John Gledson;"%}</h2>
    <h2>{% translate "Editora: Oxford University Press. Oxford, Inglaterra."%}</h2>

{% blocktrans %}

Dom Casmurro: A Novel (1997) também faz parte das retraduções da coleção Library of Latin America, traduzida pelo professor da University of Liverpool, John Gledson. João Hernesto Weber (apud GUERINI, FREITAS, COSTA, 2012, p.13) chama o encontro de Machado e Gledson de “Uma feliz coincidência, ou confluência”.

{% endblocktrans %}

{% endblock content %}
