{% extends 'base.html' %}
{% load i18n %}

{% block title %}2019 – Machado de Assis: Resurrection{% endblock title %}

{% block content %}

    <h1>{% translate "Machado de Assis: Resurrection" %}</h1>
    <h2>{% translate "Retradução de Ressureição;"%}</h2>
    <h2>{% translate "Tradutor(a): Paulo de Tarso Dantas;"%}</h2>
    <h2>{% translate "Publicação Independente. País não informado."%}</h2>

{% blocktrans %}
Pouquíssima informação foi encontrada sobre essa tradução, que fora publicada de forma independente como e-book ou sobre o tradutor, Paulo Dantas.
{% endblocktrans %}

{% endblock content %}
