{% extends 'base.html' %}
{% load i18n %}

{% block title %}Resurrection{% endblock title %}

{% block content %}

    <h1>{% translate "2013 – Resurrection" %}</h1>
    <h2>{% translate "Tradução de Ressureição;"%}</h2>
    <h2>{% translate "Tradutor(a): Karen Sotelino;"%}</h2>
    <h2>{% translate "Editora:  Latin American Literary Review Press. Pittsburgh, EUA."%}</h2>

{% blocktrans %}
O primeiro romance de Machado de Assis, Ressureição (1872), foi o último a receber sua tradução, Ressurection (2013). Em entrevista a Fonseca (2016), Karen Sotelino declara que uma motivação inicial foi descobrir que ainda havia um romance do autor a ser traduzido e sobre os percalços para encontrar uma editora interessada em publicar literatura brasileira traduzida.
{% endblocktrans %}

{% endblock content %}
