{% extends 'base.html' %}
{% load i18n %}

{% block title %}Posthumas Memories in Braz Cubas {% endblock title %}

{% block content %}

    <h1>{% translate "2018 – Posthumas Memories in Braz Cubas" %}</h1>
    <h2>{% translate "Retradução de Memórias Póstumas de Brás Cubas;"%}</h2>
    <h2>{% translate "Tradutor(a): Readers Corner;"%}</h2>
    <h2>{% translate "Editora: Readers Corner, EUA."%}</h2>

{% blocktrans %}
Um dos casos mais curiosos desse Catálogo e Corpus, essa retradução de Memórias Póstumas de Brás Cubas (1881) é a única que não credita nominalmente seu tradutor, tampouco é possível encontrar muitas informações online sobre a editora. Devido aos inúmeros erros de tradução (que serão apresentados a seguir), essa tradução foi posteriormente excluída do corpus MACC, pois não pode ser considerada uma fonte confiável para pesquisa.
{% endblocktrans %}

{% endblock content %}
