{% extends 'base.html' %}Fi
{% load i18n %}

{% block title %}The Posthumous Memoirs of Braz Cubas{% endblock title %}

{% block content %}

    <h1>{% translate "1951 – The Posthumous Memoirs of Braz Cubas ;" %}</h1>
    <h2>{% translate "Tradução de Memórias Póstumas de Brás Cubas;"%}</h2>
    <h2>{% translate "Tradutor(a): William Grossman;"%}</h2>
    <h2>{% blocktrans %}Editora: São Paulo editores. São Paulo, Brasil. <p>
                        Outras edições da tradução:<p>
                        Epitaph of a Small Winner (1952), ed. Noonday Press Nova York, EUA;<p>
                        Epitaph of a Small Winner (1952), ed. Hogarth Press. Londres, Inglaterra;<p>
                        The Posthumous Memoirs of Brás Cubas: A Novel (1985), ed. Oxford University Press. Oxford, Inglaterra.{% endblocktrans %}</h2>
{% endblocktrans%}</h2>

{% blocktrans %}
Passaram trinta anos desde a primeira vez que Machado de Assis foi traduzido para língua inglesa até que sua obra recebesse novamente uma tradução. Desta vez, a obra escolhida foi o romance Memórias Póstumas de Brás Cubas (1881), traduzido por William Grossman e a primeira tradução do romance para língua inglesa foi publicada primeiro no Brasil, pela São Paulo editores, sob o título de The Posthumous Memoirs of Brás Cubas: A Novel em 1951:<p>
Esse foi o primeiro romance de Machado de Assis traduzido para o inglês, e o caso curioso dessa obra é que ela foi publicada em São Paulo, com o patrocínio do próprio tradutor. (HATJE-FAGGION, 2017, p.54). <p>
Após a publicação no Brasil, Grossman negociou a publicação da sua tradução do romance em 1952 com as editoras Noonday Press (Nova York, Estados Unidos) e com editora Hogarth Press (Londres, Reino Unido). No entanto, ao entrar nos mercados norte-americano e inglês, as editoras optaram por lançar o livro com o título Epitaph of a Small Winner (1952), possivelmente por questões de marketing da editora.<p>
Apenas na reedição de 1985, publicada pela Oxford University Press, o romance voltou a ser publicado com o título original de Grossman: The Posthumous Memoirs of Brás Cubas: A Novel. Apesar de sua relevância como primeiro romance traduzido para o inglês, não encontrei em versão eletrônica/e-book.
{% endblocktrans %}

{% endblock content %}
