{% extends 'base.html' %}
{% load i18n %}

{% block title %}Iaiá Garcia{% endblock title %}

{% block content %}

    <h1>{% translate "1977 – Iaiá Garcia" %}</h1>
    <h2>{% translate "Tradução de Iaiá Garcia;"%}</h2>
    <h2>{% translate "Tradutor(a): Albert I. Bagby Jr.;"%}</h2>
    <h2>{% translate "Editora: University Press of Kentucky. Lexington, EUA."%}</h2>

{% blocktrans %}
Albert Bagby Jr., o tradutor de The Hand & the Glove (1970), retorna à tradução de Machado de Assis, dessa vez com a tradução para Iaiá Garcia (1878). Provavelmente trabalhou na tradução de Iaiá Garcia ao mesmo tempo em que Scott-Buccleuch, por coincidência, traduzia o mesmo romance. O site da editora University Press of Kentucky disponibiliza o livro em capa de papel e na versão eletrônica, lançada pela editora no dia 14 de dezembro de 2021.
{% endblocktrans %}

{% endblock content %}
