{% extends 'base.html' %}
{% load i18n %}

{% block title %}The Wager: Aires' Journal{% endblock title %}

{% block content %}

    <h1>{% translate "1990 – The Wager: Aires' Journal" %}</h1>
    <h2>{% translate "Retradução de O Memorial de Aires;"%}</h2>
    <h2>{% translate "Tradutor(a): Robert L. Scott-Buccleuch;"%}</h2>
    <h2>{% translate "Editora: Peter Owen. Londres, Inglaterra."%}</h2>

{% blocktrans %}
A década de 1990 foi muito frutífera para retraduções de Machado de Assis. O Memorial de Aires (1908) foi retraduzido pelo professor da Universidade Federal de Brasília (UnB) Scott-Buccleuch e está disponível em versão impressa.
{% endblocktrans %}

{% endblock content %}
