{% extends 'base.html' %}
{% load i18n %}

{% block title %}The Hand & the Glove{% endblock title %}

{% block content %}

    <h1>{% translate "1972 – Counselor Ayres's Memorial"%}</h1>
    <h2>{% translate "Tradução de Memorial de Aires;"%}</h2>
    <h2>{% translate "Tradutor(a): Helen Caldwell;"%}</h2>
    <h2>{% translate "Editora: University of California Press. Berkeley, EUA."%}</h2>

{% blocktrans %}
O Memorial de Aires (1908) foi uma publicação póstuma do autor e foi o terceiro romance de Machado de Assis a ser traduzido por Helen Caldwell, que também traduziu os oito contos em The Psychiatrist, and Other Stories (1963). Sendo o protagonista, o Conselheiro Aires, o mesmo narrador de Esaú e Jacó (1904), tradução anterior de Caldwell, não foi inesperado prosseguir nessa ordem. Assim como os outros romances publicados pela University of California Press, esse tampouco foi republicado eletronicamente.
{% endblocktrans %}

{% endblock content %}
