{% extends 'base.html' %}
{% load i18n %}

{% block title %}Esau and Jacob{% endblock title %}

{% block content %}

    <h1>{% translate "1965 – Esau and Jacob" %}</h1>
    <h2>{% translate "Tradução de Esaú e Jacó;"%}</h2>
    <h2>{% translate "Tradutor(a): Helen Caldwell;"%}</h2>
    <h2>{% translate "Editora: University of California Press. Berkeley, EUA."%}</h2>

{% blocktrans %}
Helen Caldwell traduziu um segundo romance de Machado, dessa vez o escolhido foi Esaú e Jacó (1904), o penúltimo romance do autor. A tradução é publicada com o título Esau and Jacob, em 1965, novamente pela University of California Press.
{% endblocktrans %}

{% endblock content %}
