{% extends 'base.html' %}
{% load i18n %}

{% block title %}1992 – Lord Taciturn{% endblock title %}

{% block content %}

    <h1>{% translate "Lord Taciturn" %}</h1>
    <h2>{% translate "Retradução de Dom Casmurro;"%}</h2>
    <h2>{% translate "Tradutor(a): Robert L. Scott-Buccleuch;"%}</h2>
    <h2>{% translate "Editora: Peter Owen. Londres, Inglaterra."%}</h2>

{% blocktrans %}
Apenas dois anos após a retradução de The Wager: Aires' Journal. (1992), Scott-Buccleuch e a editora Peter Owen trazem a tradução de Dom Casmurro (1899) como Lord Taciturn (1992). A edição se tornou muito criticada pela exclusão de 9 capítulos do romance, que depois foram traduzidos e incluídos em uma nova tiragem.
{% endblocktrans %}

{% endblock content %}