{% extends 'base.html' %}
{% load i18n %}

{% block title %}1998 – Quincas Borba{% endblock title %}

{% block content %}

    <h1>{% translate "Quincas Borba" %}</h1>
    <h2>{% translate "Retradução de Quincas Borba;"%}</h2>
    <h2>{% translate "Tradutor(a): Gregory Rabassa;"%}</h2>
    <h2>{% translate "Editora: Oxford University Press. Oxford, Inglaterra."%}</h2>

{% blocktrans %}
Em 1998, Quincas Borba (1891) ganha sua primeira retradução desde 1954, pela Oxford University Press, com tradução de Gregory Rabassa. A tradução Quincas Borbas (1998) faz parte da coleção Library of Latin America, tal como Dom Casmurro: A Novel (1997) e The Posthumous Memoirs of Bras Cubas (1997).
{% endblocktrans %}

{% endblock content %}