{% extends 'base.html' %}
{% load i18n %}

{% block title %}The Posthumous Memoirs of Brás Cubas{% endblock title %}

{% block content %}

    <h1>{% translate "2020 – The Posthumous Memoirs of Brás Cubas" %}</h1>
    <h2>{% translate "Retradução de Memórias Póstumas de Brás Cubas;"%}</h2>
    <h2>{% translate "Tradutor(a): Flora Thomson-DeVeaux;"%}</h2>
    <h2>{% translate "Editora: Penguin Classics. EUA."%}</h2>

{% blocktrans %}
The Posthumous Memoirs of Brás Cubas (2020) foi publicada pela Peguin Classics em junho de 2020 e esgotou no primeiro dia de lançamento. A retradução nasceu a partir do projeto de doutorado de Flora Thomson-DeVeaux que explicou sua motivação para revistar o clássico em entrevistas.
{% endblocktrans %}

{% endblock content %}