{% extends 'base.html' %}
{% load i18n %}

{% block title %}The Posthumous Memoirs of Brás Cubas{% endblock title %}

{% block content %}

    <h1>{% translate "2020 – Posthumous Memoirs of Brás Cubas: A Novel" %}</h1>
    <h2>{% translate "Retradução de Memórias Póstumas de Brás Cubas;"%}</h2>
    <h2>{% translate "Tradutor(a):  Margaret Jull Costa e Robin Patterson;"%}</h2>
    <h2>{% translate "Editora: Liveright & Company. Nova York, EUA e Londres, Inglaterra."%}</h2>

{% blocktrans %}
Memórias Póstumas de Brás Cubas (1881) ainda recebeu uma segunda retradução em 2020, dessa vez, lançada pela Liveright & Company e traduzida por Margaret Jull Costa e Robin Patterson. A dupla de tradutores também foi responsável pela tradução da maior coletânea de contos do escritor brasileiro, The Collected Stories of Machado de Assis (2018).
{% endblocktrans %}

{% endblock content %}
