{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{% translate "Busca por obras em língua portuguesa" %}</h1>

<div class="row">
  <div class="col-md-6 mx-auto">
    <form action="{% url 'catalogue:search-portuguese' %}">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">
          {{ form.title_portuguese.label }}
        </label>
        <div class="col-sm-8">
          {{ form.title_portuguese }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{ form.gender.label }}</label>
        <div class="col-sm-8">
          {{ form.gender }}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
          <a class="btn btn-outline-secondary" type="button" href="{% url 'catalogue:search-portuguese' %}">
            {% translate "Limpar" %}
          </a>
          <button class="btn btn-primary" type="submit">
            {% translate "Pesquisar" %}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% if result %}
<div class="row">
  <div class="col">
    {% include 'includes/summary.html' with page=result %}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col">
    {% for work in result %}
    <div class="card my-3">
      <div class="card-header h4">
        {{ work.title }}
      </div>
      <div class="card-body">
        <dl class="row">
          {% if work.translation_set %}
          <dt class="col-sm-2">{% translate "Traduções" %}</dt>
          <dd class="col-sm-10">
            {% for translation in work.translation_set.all %}
              <a href="{% url 'corpus:show' work.pk %}">
                <p>{{ translation.title }} - {{ translation.year }}</p>
              </a>
            {% endfor %}
          </dd>
          {% endif %}
        </dl>
      </div>
    </div>
    {% empty %}
      {% if 'result' in request.POST %}
      <p class="h2">{% translate "Não foram encontrados resultados para a busca" %}</p>
      {% else %}
      <p class="h2">{% translate "Para ver os itens, realize uma busca" %}</p>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% if result %}
<div class="row">
  <div class="col">
    {% include 'includes/paginator.html' with page=result qs=qs %}
  </div>
</div>
{% endif %}

{% endblock content %}
